<div class="container">
  <h6 id="request-message" style="text-align: center; font-weight: bold; font-size: 18px"></h6>
  <div id="content">
    {{!-- <h2 style="text-align: center; color: #FF6F61;">RESET PASSWORD</h2> --}}
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="login-form">

          {{!-- <form action="/users/forgot-password" method="POST"> --}}

            <div class="row">
              <div class="col-md-12">
                {{!-- <label>E-mail / Username</label> --}}
                <input required id="email" class="form-control" name="email" type="email"
                  placeholder="Enter your e-mail address">
              </div>
              <div class="col-md-12 d-flex justify-content-center">
                <button class="btn" onclick="sendEmailResetPassword()">Send email</button>
              </div>
            </div>
            {{!--
          </form> --}}

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function sendEmailResetPassword() {
    //Call api to send Email reset password
    const email = $('#email').val();

    $.post('/api/users/send-email-reset-password', { email }, function (data) {
      console.log(data);
      if (data.status) {
        //hide current view
        $('#content').hide();

        $('#request-message').addClass('success').removeClass('error').html(data.message);
      } else {
        $('#request-message').addClass('error').removeClass('success').html(data.message);
      }
    })
  }
</script>