<!-- My Account Start -->
<div class="my-account">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="account-nav" data-toggle="pill" href="#account-tab" role="tab"><i
              class="fa fa-user"></i>Account
            Details</a>

          <a class="nav-link" href="/users/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
            <h6 id="request-message" style="text-align: center; font-weight: bold; font-size: 16px"></h6>
            <h4>Account Details</h4>

            {{!-- action="/users/update-account" method="POST" onsubmit="return onUpdateUserInfo()" --}}
            <div class="row">
              <div class="col-md-6">
                <label for="full-name">Full name</label>
                <input id="full-name" name="full_name" class="form-control" type="text" value="{{user.full_name}}"
                  onchange="validateFullName(this.value)">
                <span id="full-name-message"></span>
              </div>
              <div class="col-md-6">
                <label for="phone-number">Phone number</label>
                <input id="phone-number" name="phone_number" class="form-control" type="tel"
                  value="{{user.phone_number}}" onchange="validatePhoneNumber(this.value)">
                <span id="phone-number-message"></span>
              </div>
              <div class="col-md-6">
                <label for="email">Email</label>
                <input id="email" readonly name="email" class="form-control" type="email" value="{{user.email}}">
              </div>
              <div class="col-md-12">
                <label for="address">Address</label>
                <input id="address" name="address" class="form-control" type="text" value="{{user.address}}"
                  onchange="validateAddress(this.value)">
                <span id="address-message"></span>
              </div>
              <div class="col-md-12">
                <button class="btn" onclick="updateUserInfo()">Update Account</button>
              </div>
            </div>
              {{!--
            </form> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- My Account End -->

<script>
  const fullNameRegex = /[0-9]/;
  const phoneNumberRegex = /^[0-9]+$/;

  function validateFullName(fullName) {
    let result = false;
    if (fullName.indexOf(" ") === 0) {
      $('#full-name-message').addClass('error').removeClass('success').html("Full name does not contain space at beginning");
    }
    else if (fullName.lastIndexOf(" ") === (fullName.length - 1)) {
      $('#full-name-message').addClass('error').removeClass('success').html("Full name does not contain space at the end");
    }
    else if (fullName.match(fullNameRegex)) {
      $('#full-name-message').addClass('error').removeClass('success').html("Full name contain only a-z, A-z");
    } else {
      $('#full-name-message').addClass('success').removeClass('error').html("");
      result = true;
    }
    return result;
  }

  function validatePhoneNumber(phoneNumber) {
    let result = false;
    if (phoneNumber.match(phoneNumberRegex)) {
      $('#phone-number-message').addClass('success').removeClass('error').html("");
      result = true;
    } else {
      $('#phone-number-message').addClass('error').removeClass('success').html("Phone numbers contain only numeric characters");
    }
    return result;
  }

  function validateAddress(address) {
    let result = false;
    if (address.indexOf(' ') === 0 || address.lastIndexOf(' ') === (address.length - 1)) {
      $('#address-message').addClass('error').removeClass('success').html("Address do not contain leading and trailing spaces");
    } else {
      $('#address-message').addClass('success').removeClass('error').html("");
      result = true;
    }

    return result;
  }

  function checkInputValue() {
    const isFullNameValid = validateFullName($('#full-name').val());
    const isPhoneNumberValid = validatePhoneNumber($('#phone-number').val());
    const isAddressValid = validateAddress($('#address').val());
    if (isFullNameValid && isPhoneNumberValid && isAddressValid) {
      return true;
    }
    return false;
  }

  function updateUserInfo() {
    $('#request-message').html("");
    if (checkInputValue()) {
      //Call api to update user info
      const full_name = $('#full-name').val();
      const phone_number = $('#phone-number').val();
      const address = $('#address').val();

      $.post('/api/users/update-user-info', { full_name, phone_number, address }, function (data) {
        console.log(data)
        if (data.status) {
          $('#request-message').addClass('success').removeClass('error').html(data.message);
        } else {
          $('#request-message').addClass('error').removeClass('success').html(data.message);
        }
      });

    }
  }

  function changePassword() {
    $('#change-password-request-message').html("");
    if (checkPasswordInputs()) {
      const current_password = $('#current-password').val();
      const new_password = $('#new-password').val();

      $.post('/api/users/change-password', { current_password, new_password }, function (data) {
        console.log(data);
        if (data.status) {
          $('#change-password-request-message').addClass('success').removeClass('error').html(data.message);
          $('#current-password').val("")
          $('#new-password').val("")
          $('#confirm-new-password').val("")
        } else {
          $('#change-password-request-message').addClass('error').removeClass('success').html(data.message);
        }

      })
    }
  }

</script>