<div class="container">
  <h2 style="text-align: center; color: #FF6F61;">NEW PASSWORD</h2>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6">
      <div class="login-form">
        <h2>{{message}}</h2>


        <form action="/users/reset-password" method="POST" onsubmit="return checkValidInputs()">
          <div class="row">
            <div class="col-md-12">
              <input hidden id="userId" class="form-control" name="userId" type="text" value="{{id}}">
            </div>
            <div class="col-md-12">
              <input id="password" class="form-control" name="password" type="text" placeholder="Enter new password"
                oninput="validatePassword(this.value)">
              <span id="password-message"></span>
            </div>
            <div class="col-md-12">
              <input id="retype" class="form-control" type="text" placeholder="Confirm new password"
                oninput="confirmPassword(this.value)">
              <span id="retype-message"></span>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
              <button class="btn" type="submit">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<script>
  function validatePassword(password) {
    let result = false;
    if (password.indexOf(' ') >= 0) {
      $('#password-message').addClass('error').removeClass('success').html("Password does not contain any space");
    } else if (password.length < 6) {
      $('#password-message').addClass('error').removeClass('success').html("Password must contains at least 6 characters");
    } else {
      $('#password-message').addClass('success').removeClass('error').html("");
      result = true;
    }
    return result;
  }

  function confirmPassword(confirmPassword) {
    let result = false;
    const password = document.getElementById("password").value;
    if (password !== confirmPassword) {
      $('#retype-message').addClass('error').removeClass('success').html("Password does not match");
    } else {
      $('#retype-message').addClass('success').removeClass('error').html("");
      result = true;
    }
    return result;
  }

  function checkValidInputs() {
    const isPassWordValid = validatePassword($('#password').val());
    const isRetypeValid = confirmPassword($('#retype').val());
    if (isPassWordValid && isRetypeValid) {
      return true;
    }
    return false;
  }

  function sendResetPasswordRequest() {
    if (checkValidInputs()) {
      const password = $('#password').val();
      const userId = $('#userId').val();

      $.post("/api/users/reset-password", { userId, password }, function (data) {
        console.log(data);
        if (data.status) {
          $('#request-message').addClass('success').removeClass('error').html(data.message);
        } else {
          $('#request-message').addClass('error').removeClass('success').html(data.message);
        }
      });

    }
  }


</script>