<div class="container">
  <h6 id="request-message" style="text-align: center; font-weight: bold; font-size: 18px"></h6>
  <div id="content">
    <div class="row d-flex justify-content-center">
        <h2>{{message}}</h2>
    </div>
  </div>
</div>